body {
    margin: 0;
    padding: 0;
}

.priceTag {
    padding: 23px 0 16px 23px;
}

.block {
    margin: 100px;
    width: 240px;
    height: 400px;
    border: 2px solid black;
}

.block {
    overflow: hidden;
}

.bookcase {
    height: 237px;
    width: 68px;
}

.bookcase img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: right top;
}

.font1PriceTag {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.font2PriceTag {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin: 0;
}

.font3PriceTag {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.secondShot .logo {
    padding-top: 18px;
    padding-left: 142px;
}

.registration {
    writing-mode: tb-rl;
    transform:rotate(180deg);
}

.registration p {
    font-size: 7px;
    color: #a4a4a4;
    margin: 0 4px 0 0;
}

.thirdShot {
    display: flex;
}

.slogan p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 34px;
    margin: 10px 0 0 20px;

}

.slogan button {
    width: 175px;
    height: 48px;
    border: 3px solid #0051ba;
    border-radius: 15px;
    background: transparent;
    margin: 75px 0 0 20px;
}

.slogan button a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    text-decoration:none;
    color: black;
}

.thirdShot .logo {
    padding-top: 100px;
    padding-left: 121px;
}

.stackBooks {
    position: relative;
    padding-left: 22px;
    padding-bottom: 30px;
}

.topBlock {
    position: absolute;
    left: 60px;
    z-index: 5;
}

.middleBlock {
    position: absolute;
    top: 58px;
    left: 20px;
    z-index: 4;
}

.bottomBlock {
    position: absolute;
    top: 98px;
    z-index: 3;
}

.firstShot p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin: 16px 0 26px 17px;
}

.firstShot .logo {
    padding-top: 205px;
    padding-left: 142px;
}

.block {
    position: relative;
}

.firstShot {
    position: absolute;
}

.secondShot {
    position: absolute;
}

.thirdShot {
    position: absolute;
}

